<%- include ("../partials/header.ejs") %>
	<link rel="stylesheet" type="text/css" href="/account/reset/reset.css">
	</head>

	<body>

		<form action="/resetPassword/<%= token %>" method="POST">
			<div class="form-group form-header">
				RESET PASSWORD
			</div>
			<div class="form-group">
				<input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control" />
			</div>
			<div class="form-group">
				<input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-secondary">Update password</button>
			</div>
		</form>
		<%- include ("../partials/footer") %>
			<script type="module" src="/account/reset/reset.js"></script>
	</body>

	</html>