<div class="social-menu">
	<ul>
    	<li class="toggle-btn"><a href="https://www.facebook.com/profile.php?id=100005959454774"><i class="fa fa-facebook"></i></a></li>
        <li class="toggle-btn"><a href="https://www.instagram.com/lof.respect/"><i class="fa fa-instagram"></i></a></li>
        <li class="toggle-btn"><a href="https://mail.google.com/mail/u/0/?tab=rm#inbox"><i class="fa fa-envelope"></i></a></li>
        <li class="trigger-btn"><a><i class="fa far fa-question-circle"></i></a></li>
    </ul>
</div>