	<% if(successMessage != "") { %>
		<div class="alert alert-secondary" role="alert">
			<i class="fas fa-atom"></i><%= successMessage %>
		</div>
	<% } %>
	<% if(failureMessage != "") { %>
		<div class="alert alert-secondary" role="alert">
			<i class="fas fa-atom"></i><%= failureMessage %>
		</div>
	<% } %>

	<!-- <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
	<script src="node_modules/@swup/preload-plugin/dist/SwupPreloadPlugin.js"></script> -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>	
	<script>
	  	AOS.init();
	</script>
	<script type="module" src="/stylesheet/style.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>