<div class="assistive-touch">
	<div class="inner" id="home">
		<a href="<%= user.id %>">
			<i class="fas fa-home"></i>
		</a>
	</div>
	<div class="inner" id="creation">
		<a href="/">
			<i class="far fa-play-circle"></i>
		</a>
	</div>
	<div class="inner" id="setting">
		<a href="/setting">
			<i class="fas fa-cog"></i>
		</a>
	</div>
	<div class="inner" id="discover">
		<a href="/discovery">
			<i class="far fa-compass"></i>
		</a>
	</div>
</div>