input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
	font-family: 'Amiri', serif;
	background-attachment: fixed;
	overflow-x: hidden;
}

.transition-fade {
	transition: 0.4s;
	opacity: 1;
}

/*-----------------
PAGE TRANSITION
-----------------*/
.transition-fade {
	transition: 0.4s;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

/*-----------------
NAVIGATION BUTTON
-----------------*/
.navigation-btn {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
}

.navigation-btn a {
	width: 40px;
	height: 40px;
	margin-top: 25rem;
	position: fixed;
	color: inherit;
	transition: 1s;
}

.hide {
	display: none;
}

/* ------------------ */
/* NAVBAR */
/* ------------------ */

nav {
	background-color: none;
	padding: 0 !important;
}

nav .container-fluid {
	background-color: papayawhip;
}

.navbar,
.navbar-brand {
	font-size: 1.8rem;
}

.navbar,
.navbar-brand:hover {
	position: right center;
}

.navbar-brand {
	font-family: 'Courgette', cursive;
	font-size: 2.5rem;
	color: chocolate !important;
}

.navbar-brand i {
	color: burlywood;
}

.navbar form {
	margin-left: 27%;
}

/* NAVBAR RIGHT SIDE ICONS */
.navbar i {
	color: cornsilk;
}

nav .fa-compass {
	transition: 2s;
}

nav ul {
	display: flex;
	align-items: center;
	border-radius: 40px;
	background-color: lightslategrey;
}

nav ul li > a {
	display: contents !important;
}

nav ul li {
	position: relative;
	display: flex !important;
	padding: 0.5rem;
	border-radius: 40px;
	align-items: center;
	transition: 0.5s ease-in-out;
}

nav .fa-compass:hover {
	transform: rotate(360deg);
	color: cornflowerblue;
}
nav ul .have-after:hover {
	background-color: darkslategray;
}

nav ul .have-after::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	transition: 0.5s;
	z-index: -1;
}

nav ul .have-after:hover::before {
	border: 2px solid darkslategray;
	border-radius: 40px;
	width: 100%;
}

nav ul .have-after::after {
	content: '';
	display: block;
	height: 100%;
	margin-left: 0.2rem;
	padding: 0 0.5rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	font-family: inherit;
	background-color: white;
	transform: scaleX(0);
	transform-origin: 0% 50%;
	transition: transform 0.5s ease-in-out;
}

nav ul .have-after:hover::after {
	transform: scaleX(1);
	transform-origin: 0% 50%;
	width: 100%;
}

#friend-suggestions:hover::after {
	content: 'Suggestions'
}

#to-creation:hover::after {
	content: 'Creation';
}

#to-discovery:hover::after {
	content: 'Newfeed';
}

#to-setting:hover::after {
	content: 'Setting';
}

/* DROPDOWN NOTIFICATION MENU */
.dropdown-menu {
	width: 30rem;
	max-height: 15rem;
	overflow: auto;
	overflow-x: hidden;
}

.dropdown-menu > div {
	display: flex;
	margin: 0;
	overflow: hidden;
}

.dropdown-menu > div:hover {
	background-color: gainsboro;
}

.dropdown-menu::-webkit-scrollbar {
	display: none !important;
}
.dropdown-menu a {
	display: inline-flex;
	align-items: center;
	width: 100%;
	font-size: 0.9rem;
}

.dropdown-menu a:hover {
	font-weight: 800;
	color: #5d6d7e;
}

.dropdown-menu p {
	margin-bottom: 0;
}

#left,
#right {
	display: flex;
	vertical-align: middle;
}

#content {
	overflow: hidden;
}

.dropdown-menu img {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.dropdown-menu #post {
	float: right;
}

@-webkit-keyframes rotating {
	50% {
		-webkit-transform: rotate(25deg);
	}
	100% {
		-webkit-transform: rotate(-25deg);
	}
}

.rotating {
	-webkit-animation: rotating 0.5s linear infinite;
}

/* DROPDOWN SUGGESTIONS MENU */
.suggestions {
	width: 20rem;
}

.suggestions .row {
	margin: 0.5rem 0 !important;
}

/* ------------------ */
/* SEARCH			  */
/* ------------------ */
/* SEARCH BAR */
#search-div {
	display: inline-table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: floralwhite;
	height: 1rem;
	border-radius: 40px;
	padding: 10px;
}

#search-btn {
	color: #e84118;
	float: right;
	width: 1rem;
	height: 1rem;
	padding: 1rem;
	border-radius: 40px;
	background-color: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	color: white;
	cursor: pointer;
}

#search-btn > i {
	font-size: 1rem;
}

#search-input {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: 1s;
	line-height: 2rem;
	width: 0px;
	font-weight: bold;
}

/* SEARCH RESULT */
#result {
	width: 100%;
	max-height: fit-content;
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: oldlace;
	border-radius: 20px;
	transition: 1s;
	overflow: auto;
	overflow-x: hidden;
}

#result::-webkit-scrollbar {
	display: none !important;
}

.result-hide {
	height: 0 !important;
}

.user-found {
	display: flex;
	justify-content: left;
}

.user-found a {
	width: 100%;
}

.user-found:nth-child(even) {
	background-color: antiquewhite;
}

.user-found:hover {
	background-color: gainsboro;
}

.cover img {
	width: 2rem;
	height: 2rem;
	margin-left: 1.5rem;
	border-radius: 40px;
}

.username p {
	margin-bottom: 0;
	margin-left: 2.5rem;
	font-size: 1rem;
	font-weight: 500 !important;
	line-height: 3rem;
}

/* ---------------
ASSISTIVE TOUCH
----------------*/
.assistive-touch {
	position: absolute;
	top: 10rem;
	left: 10rem;
	width: 2.5rem;
	height: 2.5rem;
	border: 2px solid black;
	background-color: burlywood;
	border-radius: 50%;
	transition: 3s;
	z-index: 10;
}

.assistive-touch:hover {
	transform: rotate(360deg);
}

.inner {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 100%;
	background-color: burlywood;
	color: floralwhite;
	font-size: 2rem;
	align-items: center;
	justify-content: center;
	transition: 1s;
	cursor: pointer;
}

.inner:hover {
	background-color: #e9967a;
}

.inner:hover i {
	color: floralwhite;
}

#home,
#creation,
#setting,
#discover {
	z-index: 0;
}

.inner a {
	display: flex;
	width: 2rem;
	height: 2rem;
}

/* ---------------
LIKED USERS DIV
----------------*/
#liked-users::-webkit-scrollbar {
	display: none !important;
}

#liked-users {
	position: absolute;
	width: 25%;
	max-height: 25rem;
	border-radius: 10px;
	background-color: #fbfcfc;
	top: 200%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	transition: 1s;
}

.liked-users-show {
	top: 49.5% !important;
}

#likedDiv-escape {
	font-size: 2rem;
	margin: 0.5rem;
	margin-bottom: 1rem;
	transition: 1s;
}

#likedDiv-escape:hover {
	padding: 1rem;
	color: #454545;
	background-color: #999999;
	border-radius: 40px;
}

#liked-users .user {
	display: flex;
	padding: 0.5rem;
	font-size: 0.5rem;
}

#liked-users .user a {
	display: flex;
}

#liked-users .user p {
	line-height: 40px;
	margin-left: 1rem;
}

/* ---------------
CONFIRM INFO DIV
----------------*/
.confirmation-div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.confirmation-message {
	position: absolute;
	right: 10%;
	margin-right: -2rem;
	padding: 0.3rem 0.5rem;
	color: silver;
	background-color: darkseagreen;
	border-radius: 20px;
	font-style: italic;
	transition: 1s;
}

/* OTHERS */
.alert {
	width: fit-content;
}

.alert i {
	margin-right: 1rem;
}

textarea {
	border: 0 !important;
	outline: none !important;
	box-shadow: none !important;
}

input {
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid silver !important;
	box-shadow: none !important;
	background-color: none !important;
}

button[type='submit'] {
	padding: 0;
	border: none;
	outline: 0;
	cursor: pointer;
}

.form-header {
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 2.5rem;
	letter-spacing: 1px;
	color: dimgrey;
}

.user-nickname {
	font-family: 'Lora', serif !important;
	color: #0000009e;
}

.post-description {
	font-size: 1.5rem;
	padding: 0 0.5rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* INPUT FORM IN SIGN IN, SIGN UP */

.input-div::after {
	content: '';
	width: 0%;
	background-color: cadetblue;
	border-bottom: 2px solid cadetblue;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 0.5s;
}

.input-div:focus-within {
	border: none;
}

.input-div:focus-within::after {
	width: 100%;
}

/* -------------- */
/* CONTACT US 	  */
/* -------------- */
.social-menu {
	position: sticky;	
}

.social-menu ul {
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.social-menu ul li {
	list-style: none;
	margin: 0.5rem;
	transform: translate(4rem, 0px);
	transition: 0.5s;
}

.toggle {
	transform: translate(0, 0px) !important;
}

.social-menu ul li .fa {
	color: #000000;
	font-size: 25px;
	line-height: 50px;
	transition: 0.5s;
}
.social-menu ul li .fa:hover {
	color: #ffffff;
}
.social-menu ul li a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	transition: 0.5s;
	transform: translate(0, 0px);
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
	transform: rotate(0deg) skew(0deg) translate(-10px, 0);
}
.social-menu ul li:nth-child(1) a:hover {
	background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
	background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
	background-color: #e4405f;
}

.social-menu ul li:nth-child(4) {
	transform: translate(0, 0px);
	cursor: pointer;
}

.social-menu ul li:nth-child(4)::before {
	content: "";
	position: absolute;
	left: -150%;
	width: 0%;
}

.social-menu ul li:nth-child(4) a:hover {
	background-color: #cd201f;
}

.social-menu ul li:nth-child(4):hover::before {
	content: "Contact for help ";
	width: 100%;
}
.social-menu ul li:nth-child(5) a:hover {
	background-color: #0077b5;
}