html,
body {
    height: 100%;
    background-color: floralwhite;
    margin: 0;
    display: inline;
	overflow: hidden;
}

canvas[resize] {
    width: 100%;
    height: 100%;
    position: absolute;
}

.navbar {
	background-color: darkseagreen;
	width: 100%;
	height: 7%;
	position: absolute;
	vertical-align: bottom;
}

.navbar button {
	margin-right: 1rem;
}

.navbar .app-logo {
	width: 10%;
}

.navbar-brand {
	color: blanchedalmond !important;
}

ul li:first-child {
	margin-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: ghostwhite;
}

#alert {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
	border-radius: 40px;
	text-align: center;
}

#utilities {
	position: absolute;
	right: -25%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	color: dimgray;
	transition: 1s;
}

#utilities a {
	display: contents;
}

#utilities i {
	margin: 0.2rem;
	padding: 0.5rem 2rem;
	border-radius: 40px;
	background-color: antiquewhite;
	transition: 0.8s;
}

#utilities i:hover {
	margin-left: -50%;
	background-color: darkseagreen;
	cursor: pointer;
}

#utilities i span {
	margin-left: 1rem;
}

.ulti-btns-toggle {
	right: -10% !important;
}

.alert {
	position: absolute;
    top: 2%;
    left: 2%;
	background-color: blanchedalmond;
	border-color: blanchedalmond;
}
