body {
	background-image: url("");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main-container {
	margin-top: 8rem;
}

.posts-div {
	transition: 1s;
} 

.btn {
	float: right;
	cursor: pointer;
}

.post {
	position: relative;
	width: 80%;
	padding-bottom: 50%;
	border: 0;
	margin: auto;
	margin-bottom: 10rem;
	overflow: hidden;
}

canvas {
	background-position: center;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 88%;
	left: 0; right: 0; top: 0; bottom: 0;
	border-bottom: 1px solid antiquewhite;
	border-left: 1px solid antiquewhite;
	border-right: 1px solid antiquewhite;
	border-radius: 5px;
	background-color: white;
	transition: 1s;
	z-index: 1;
}

/* ----------------- */
/* POSTS DIVS TOGGLE */
/* ----------------- */
.posts-div-toggle {
	display: none;
}


/*-------------------*/
/* USER */
/*-------------------*/
.header {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 12%;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid antiquewhite;
	border-left: 1px solid antiquewhite;
	border-right: 1px solid antiquewhite;
	border-radius: 5px;
	background-color: floralwhite;
	z-index: 1;
}

.header img:nth-child(1) {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 40px;
}

.header p {
	margin-left: 1rem;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-family: 'Neuton', serif;
	line-height: 40px;
	letter-spacing: 0.8px;
}

.header span {
	font-size: 1.3rem;
}

.to-the-post {
	float: right; 
	margin-left: 1rem;
	transition: 1s;
}

.to-the-post:hover {
	margin-left: 2rem;
}

/*-------------------*/
/* COMMENT */
/*-------------------*/
.comments-div {
	position: absolute;
	bottom: 12%;
	width: 100%;
	max-height: 50%;
	border-left: 1px solid antiquewhite;
	border-right: 1px solid antiquewhite;
	border-radius: 5px;
	z-index: 1;
	background-color: oldlace;
	overflow: auto;
	transition: 2s;
}

.div-hide {
	bottom: -50% !important;
}

.comments-div::-webkit-scrollbar {
    display: none !important;
}

.comment {
	padding: 0rem 1rem 0rem 1rem;
}

.user {
	display: inline-flex !important;
}

h5 {
	margin: 0;
	padding-left: 0.5rem;
	line-height: 2.5rem;
	font-family: 'Neuton', serif;
}
.user .date {
	padding: 3rem 0;
	margin-bottom: 0;
}

.comment-content {
	padding: 0;
	color: darkslategray;
    font-size: larger;
	word-break: break-all;
}

.comment-date {
	font-style: oblique;
    color: rosybrown;nodemon
    font-weight: 600;
	float: right;
}

.profile {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%
}

hr {
	margin: 0.5rem;
}

/* INTERACTION */
#interaction {
	border: 1px dashed blanchedalmond;
}

/* ----------- */
/* SWITCHER    */
/* ----------- */
.switcher ul {
	display: table;
	padding: 0;
	border-top: 2px solid beige;
	border-left: 2px solid beige;
	box-shadow: 0.5rem 0.5rem burlywood;
}
.switcher li {
	position: relative;
	width: 100%;
	padding: .5rem;
	list-style: none;
	float: left;
	cursor: pointer;
}

.switcher #header {
	padding: 0.5rem;
	background-color: beige;
}

.option::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: cadetblue;
	transition: 0.5s;
	z-index: -1;
}

.option:hover::after {
	width: 100%;
}